@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    overflow-y: auto;
}

.cart-container {
    width: 400px;
    max-width: 90vw;
    height: 100%;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1002;
    font-family: "Karla",sans-serif;
}

.total {
    display: flex;
    justify-content: space-between;
}

.close-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    background: transparent;
    border: none;
    cursor: pointer;
}

.cart-container h3 {
    margin-bottom: 10px;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.check-button {
    background-color: rgb(59 130 246);
    color: white;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background-color: rgb(34, 103, 214);
}