@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.category-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Karla", sans-serif;
}

.category-title {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.75rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}

@media(min-width: 680px) {
    .category-list {
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width: 768px) {
    .category-list {
        grid-template-columns: repeat(3,1fr);
    }
}

@media(min-width:1024px) {
    .category-list {
        grid-template-columns: repeat(4,1fr);
    }
}

@media(min-width:1280px){
    .category-list {
        grid-template-columns: repeat(6,1fr);
    }
}

.category-item {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;

    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-link {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(59 130 246);
    font-weight: 600;
}

.category-link:hover {
    text-decoration: underline;
}