  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
  }
  
  .login-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    text-align: center;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
  }
  
  .login-subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #666;
  }
  .login-form .form-group {
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #444;
  }
  
  .login-form input {
    width: 90%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .login-form input:focus {
    border-color: #2575fc;
    box-shadow: 0 0 4px rgba(106, 17, 203, 0.5);
  }
  
  .login-button {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, #3b82f6, #2575fc);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .login-button:hover{
    background: #256ad9;
  }
  
  
  @media (max-width: 480px) {
    .login-container {
      padding: 1.5rem;
    }
  
    .login-title {
      font-size: 1.5rem;
    }
  }
  