.rating-star-container {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #ffb21d;
}

.rating-value {
    font-size: 1rem;
    color: #4b5563;
    font-weight: 600;
} 