.cart-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  border: 1px solid #ddd;
  height: 84px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}

.cart-row img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  grid-column: 1 / 2;
  object-position: center;
}

.cart-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  grid-column: 2 / 5;
  overflow: hidden;
}

.cart-row .cart-details h3 {
  font-size: 16px;
}

.products-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0;
}

.discount-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.discount-section p {
  font-size: 16px;
  color: #000;
  margin: 0;
}

.operate-section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #333;
}

.subtract-button,
.add-button {
  cursor: pointer;
  font-size: 16px;
}

.subtract-button:hover,
.add-button:hover {
  opacity: 0.7;
}

.delete-section {
  text-align: center;
  grid-column: 6 / 7;
}

.delete-button {
  font-size: 24px;
  color: red;
  cursor: pointer;
}

.delete-button:hover {
  opacity: 0.7;
}


