@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.nav-bar {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 200;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Karla", sans-serif;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar.light-mode {
  background-color: white;
}

.nav-bar.dark-mode {
  background-color: #1E293B;
}

.nav-bar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: nowrap;
  min-width: 150px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-bar-logo {
  font-size: 1.75rem;
  font-weight: bold;
  color: #000;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

.nav-bar-search {
  display: none;
}

@media (min-width: 1024px) {
  .nav-bar-search {
    display: flex;
    max-width: 500px;
    width: 100%;
  }

  .search-input {
    width: 400px;
  }
}

@media (min-width: 1024px) {
  .nav-link {
    font-size: 2.25rem !important;
    color: black;
    line-height: 2.5rem;
    text-decoration: none;
  }
}

.search-input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 2px solid #3b82f6;
  background-color: white;
  color: black;
}


.search-icon {
  background-color: #3b82f6;
  color: white;
  padding: 0 1rem;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
}

.nav-bar-right {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.nav-link-right {
  font-size: 1.25rem;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.user-section .nav-link-right {
  color: #6b7280;
  font-size: 1.5rem;
  gap: .5rem;
}

.user-avatar {
  width: 1.5rem;
}

.user-section {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.user-icon {
  font-size: 1.5rem;
  color: #6b7280;
}

.not-login {
  cursor: pointer;
  color: #6b7280;
  font-weight: 340;
  font-size: 1.5rem;
}

.login {
  cursor: pointer;
  display: flex;
  position: relative;
  font-size: 1.5rem;
  color: #6b7280;
}

.dark-light {
  display: flex;
  cursor: pointer;
}

.dropdown-menu-list {
  position: absolute;
  top: 40px;
  left: -10px;
  padding: 1rem;
  width: 10rem;
  z-index: 50;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  outline: none;
  box-sizing: border-box;
}

.dropdown-menu-list table {
  width: 100%;
  border-collapse: collapse;
}

.icon-cell {
  font-size: 1.125rem;
  text-align: center;
  color: #6b7280;
}

.icon-cell .icon-inner {
  font-size: 1.5rem;
  vertical-align: middle;
}

.link-cell {
  cursor: pointer;
  line-height: 1.75rem;
  width: 90%;
  vertical-align: middle;
}

.link-inner-cell {
  text-decoration: none;
  color: #6b7280;
  font-family: "Karla", sans-serif;
  font-size: 1.125rem;
  padding-left: .5rem;
}

.link-inner-cell:hover {
  text-decoration: underline;
}

.cart-icon {
  position: relative;
  font-size: 2rem;
  color: #6b7280;
  cursor: pointer;
  display: flex;
}