.product-card {
    border: 1px solid #e5e7eb;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .product-image-container {
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
  }
  
  .product-image {
    display: inline-block;
    height: 240px;
    width: auto;
  }
  
  .product-image:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }
  
  .product-info {
    padding: 16px 32px 8px;
    flex-grow: 1;
  }
  
  .product-category {
    color: #6b7280;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
  }
  
  .product-title {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    display: inline-block;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow:ellipsis;
  }
  
  .product-title:hover {
    text-decoration: underline;
  }
  
  .rating-star-container {
    display: flex;
    margin: 8px 32px 16px;
  }
  
  .rating-star {
    color: #ffb21d;
  }
  
  .rating-value {
    margin-left: 8px;
    color: #6b7280;
    font-weight: 600;
  }
  
  .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 16px;
  }
  
  .add-to-cart-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: #ec4899;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
  }
  
  .add-to-cart-btn:hover {
    background-color: #3b82f6;
  }
  