.rating-star-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.stars {
    color: #ffb21d;
}

.rating-value {
    font-size: 0.875rem;
    color: #6b7280;
    font-weight: 600;
}